In [1]:
#factorial
x=int(input("Enter a number:"))
Fact = 1
for i in range(1,x+1):
    Fact = Fact *i
Fact

120

In [2]:
#tables using for loop
x=int(input("Enter a number:"))
for i in range(1,11):
    print(x,"x",i,"=",x*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [5]:
#reverse tables using for loop
x=int(input("Enter a number:"))
for i in range(10,0,-1):
    print(x,"x",i,"=",x*i)

2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2

In [6]:
#tables using while loop
x=int(input("Enter a number:"))
i=1
while i <11:
    print(x,"x",i,"=",x*i)
    i +=1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [11]:
#reverse tables using while loop
x=int(input("Enter a number:"))
i=10
while i>=1:
    print(x,"x",i,"=",x*i)
    i -=1

2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2

In [18]:
#guessing game
import random
random.randint(1,100)
jackpot = random.randint(1,100)

guess = int(input("Guess a number"))

counter = 1

while guess != jackpot:
    if guess < jackpot:
        print("Guess higher than",guess)
    else:
        print("Guess Lower than",guess)
        
    guess = int(input("Guess a number again"))
        
    counter +=1


print("Your guess is correct")
print("You took",counter,"attempts")

Guess Lower than 60
Guess Lower than 59
Guess higher than 49
Guess higher than 40
Guess higher than 50
Your guess is correct
You took 6 attempts

In [ ]:
# 1. Population Growth Calculation

# Initial Population: 10000
# Growth Rate: 10% annually
# Duration: 10 years

initial_population = 10000
growth = 0.10 #10
year = 10

print("Year\tpopulation")
population = initial_population

for year in range(1,year+1):
    population = population + (population * growth)
    print(year, " \t ", int(population))

Year	population
1  	  11000
2  	  12100
3  	  13310
4  	  14641
5  	  16105
6  	  17715
7  	  19487
8  	  21435
9  	  23579
10  	  25937

In [39]:
#right aligned triangle for numbers
for i in range(1, 6):
    print(" " * (5 - i) + str(i) * i)

    1
   22
  333
 4444
55555

In [55]:
#reverse right aligned triangle for numbers
for i in range(6,0,-1):
    print(" " * (6 - i) + str(i) * i)

666666
 55555
  4444
   333
    22
     1

In [40]:
#right aligned triangle for stars

for i in range(1, 6):
    print(" " * (x - i) + "*" * i)

      *
     **
    ***
   ****
  *****

In [57]:
#reverse right aligned triangle for stars

for i in range(6,0,-1):
    print(" " * (x - i) + "*" * i)

 ******
  *****
   ****
    ***
     **
      *

In [44]:
#numbers triangle
for i in range(1,6):
    print(" " * (5-i)+(str(i)+" ")*i)

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [50]:
#stars triangle
for i in range(1,6):
    print(" " * (5-i)+"* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [52]:
#reverse numbers triangle
for i in range(6,0,-1):
    print(" " * (6-i)+(str(i)+" ")*i)

6 6 6 6 6 6
 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1

In [53]:
#reverse stars triangle
for i in range(6,0,-1):
    print(" " * (6-i)+"* "*i)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [61]:
#diamond shape
n = 5

# Upper half
for i in range(1, n + 1):
    print(" " * (n - i) +(str(i)+" ") * i)

# Lower half
for i in range(n - 1, 0, -1):
    print(" " * (n - i) +(str(i)+" ") * i)

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [58]:
# diamond shape
n = 5

# Upper half
for i in range(1, n + 1):
    print(" " * (n - i) + "* " * i)

# Lower half
for i in range(n - 1, 0, -1):
    print(" " * (n - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [62]:
#palidrome or not
x=input("Enter a string: ")
if x == x[::-1]:
    print(x," is palindrome")
else:
     print(x,"is not palindrome")

dad  is palindrome

In [63]:
#fibanocci series
n1=0
n2=1
#n3=?

for i in range(1,10):
    print(n1)
    n3=n1+n2
    n1=n2
    n2=n3

0
1
1
2
3
5
8
13
21

In [80]:
#prime or not
n = int(input("Enter a number: "))
if n < 2:
    print(n,"Not prime")
else:
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            print(n,"Not prime")
            break
    else:
        print(n,"Prime")

9 Not prime

In [85]:
x=[1,23,4,56,78,53,98,25,45]
for num in x:
    if num<2:
        print(num,"is not prime")
    else:
        for i in range(2,int(num**0.5)+1):
            if num%i==0:
                print(num,"is not prime")
                break
        else:
            print(num,"is prime")

1 is not prime
23 is prime
4 is not prime
56 is not prime
78 is not prime
53 is prime
98 is not prime
25 is not prime
45 is not prime

In [86]:
for num in range(1,101):
    if num < 2 :
        continue
    for i in range(2,num):
        if num%i==0:
            break
    else:
        print(num,"is prime")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime

In [89]:
def table(x):
    for i in range(1,11):
        print(x,"x",i,"=",x*i)

table(7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [103]:
def factorial(n):
    if n ==1 or n==1:
        return 1
    return n *(n-1)

factorial(6)

30

In [95]:

   #palindrome 
def palin(text):
    if len(text)==1:
        print("palindrome") 
    elif text[0]==text[-1]:
        palin(text[1:-1])
    else:
        print("not a palindrome")
            
palin("madam")

palindrome

In [104]:
#Factorial  recursion
def fact(number):
    if number==1:
        return 1
    else:
        return number * fact(number -1)
print(fact(5))

120

In [ ]:
from flask import Flask

app = Flask(__name__)

@app.route('/')
def home():
    return "Hello, Flask!"

if __name__ == '__main__':
    app.run(debug=True)

In [112]:
class person:
    def __init__(self,name,age,gender):
        self.a=name
        self.b=age
        self.c=gender
    def data(self):
        print("Name :",self.a)
    def vote(self):
        if self.b<18:
            print("You are not eligible to vote",self.b)
            print("You are",self.c)
        else:
            print("You not eligible to vote",self.b)
            print("You are",self.c)
            
a=person("santosh",22,"male")
a.data()
a.vote()

Name : santosh
You not eligible to vote 22
You are male